{% extends 'base.html' %}
{% block title %} Контакты {% endblock title %}
{% block content %}
<section class="ab-info-main py-md-5 py-4 editContent">
    <div class="container">
        <div class="row">
            <h5>Мои контакты:</h5>
        </div>
        <div class="row">
             <h4>Номер телефона - 89268604844</h4>
        </div>
        <div class="row">
            <h4>Почта - </h4><h4><a href="mailto:Am3990981@gmail.com">Am3990981@gmail.com</a></h4>
            </div>
        <div class="row">
            <h4>Telegram - </h4><h4><a href="https://t.me/huhunitos">huhunitos</a></h4>
            </div>

    </div>
</section>
{% endblock content %}